/* * {
  margin: 0;
  padding: 0;
} */

#container {
  display: inline-block;
  width: 602px;
  height: 402px;
  position: absolute;
  left: 30%;
  top: 30%;
}

#canvas {
  border: 1px solid gray;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5 {
  border-radius: 5px;
  padding: 10px;
  background-color: orange;
  color: white;
  cursor: pointer;
  margin: 10px;
}

#buttonsDiv {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}
